//landing colors
$main-color: #800021;
$second-color: #04037b;
$bg-gray: #ededed;
//text colors
$text-dark-color: #080e23;
$text-blue-color: #04037b;
$text-white-color: #ffff;
$bottom-border-color: #800021;
