//landing colors
$main-color: #800000;
$second-color: #3d78f8;
$bg-gray: #ededed;
//text colors
$text-dark-color: #080e23;
$text-blue-color: #3d78f8;
$text-white-color: #ffff;
$bottom-border-color: #e04462;
