.awards {
    background: url('./images/community.jpg');
    background: linear-gradient(
            90deg,
            $main-color,
            rgba(83, 83, 83, 0.8),
            $second-color
        ),
        url('./images/community.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 40px;
    line-height: 40px;

    & article {
        max-width: 590px;
        margin-left: auto;
        margin-right: auto;
    }

    & div {
        width: 3.125rem;
        height: 4px;
        background-color: #fff;
        margin: 1.5rem auto;
    }

    &__message {
        font-size: 29.4423px;
        line-height: 35px;
        margin-bottom: 2.5rem;
    }
}
