.section__main__content {
    text-align: center;
    position: relative;
    padding: 1rem;
    @include responsiveQuery(large) {
        margin-top: 5rem;
    }
    .section-CTA {
        --CTA-title: 3rem;
        @include responsiveQuery(large) {
            --CTA-title: 5.625rem;
            margin-bottom: 3rem;
        }
        font-family: 'Roboto';
        font-weight: bold;
        font-size: var(--CTA-title);
        color: #521e87;
    }
}
.section__voluntary {
    background: linear-gradient(
        90deg,
        $main-color,
        rgba(83, 83, 83, 0.8),
        $second-color
    );
    background-size: cover;
    padding: 2rem;
    margin-bottom: 1rem;
    max-width: 980px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    @include responsiveQuery(large) {
        top: -5rem;
    }
    button {
        font-family: 'Bebas Neue';
        color: #521e87;
    }
}
.section__voluntary__title,
.section__voluntary__description {
    color: $text-white-color;
    margin-bottom: 1rem;
}
.section__voluntary__title {
    @include responsiveQuery(large) {
        margin-bottom: 1rem;
    }
}
.section__voluntary__description {
    font-family: 'Roboto';
    @include responsiveQuery(large) {
        margin-bottom: 3rem;
    }
}
.section__voluntary__title {
    --font-title-size: 30px;
    @include responsiveQuery(large) {
        --font-title-size: 40px;
    }
    font-family: 'Roboto';
    font-weight: bold;
    font-size: var(--font-title-size);
}
